# Ansible
ansible/**/*.retry
ansible/group_vars/*
ansible/roles/external/*
ansible/ssh.cfg
ansible/src/
ansible/tmp/*
ansible/playbooks/files/kolide.yml
!ansible/tmp/.keep
secrets.yml
.vault_pass.txt
*.pem
~$*
*.pyc

## Terraform ##
#
# Ignore private variables
*.tfvars
#
# Compiled files
*.tfstate*
#
# Module directories
.terraform/
modules/